[submodule "src/counterparty-lib"]
	path = src/counterparty-lib
	url = https://github.com/CounterpartyXCP/counterparty-lib.git
[submodule "src/counterparty-cli"]
	path = src/counterparty-cli
	url = https://github.com/CounterpartyXCP/counterparty-cli.git
[submodule "src/counterblock"]
	path = src/counterblock
	url = https://github.com/CounterpartyXCP/counterblock.git
[submodule "src/armory_utxsvr"]
	path = src/armory_utxsvr
	url = https://github.com/CounterpartyXCP/armory_utxsvr.git
[submodule "src/counterwallet"]
	path = src/counterwallet
	url = https://github.com/CounterpartyXCP/counterwallet.git
