version: '2'

# Data volumes defined in these services (which must be defined in child templates):
# bitcoin-data
# counterparty-data
# counterblock-data
# armory-data
# mongodb-data

services:
  bitcoin-base:
    image: counterparty/bitcoin:${FEDNODE_RELEASE_TAG}
    volumes:
      - ./config/bitcoin:/root/.bitcoin-config
      - bitcoin-data:/root/.bitcoin/
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "30"

  bitcoin-base-mainnet:
    hostname: ${HOSTNAME_BASE}-bc
    extends:
      service: bitcoin-base
    ports:
      - "8332:8332"
    environment:
      - PARAMS=-conf=/root/.bitcoin-config/bitcoin.conf

  bitcoin-base-testnet:
    hostname: ${HOSTNAME_BASE}-bc-t
    extends:
      service: bitcoin-base
    ports:
      - "18332:18332"
    environment:
      - PARAMS=-conf=/root/.bitcoin-config/bitcoin.testnet.conf

  counterparty-base:
    image: counterparty/counterparty-server:${FEDNODE_RELEASE_TAG}
    volumes:
      - ./src/counterparty-lib:/counterparty-lib
      - ./src/counterparty-cli:/counterparty-cli
      - ./config/counterparty:/root/.config/counterparty
      - counterparty-data:/root/.local/share/counterparty
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "50"

  counterparty-base-mainnet:
    hostname: ${HOSTNAME_BASE}-cp
    extends:
      service: counterparty-base
    ports:
      - "4000:4000"
    environment:
      - PARAMS=--config-file=/root/.config/counterparty/server.conf

  counterparty-base-testnet:
    hostname: ${HOSTNAME_BASE}-cp-t
    extends:
      service: counterparty-base
    ports:
      - "14000:14000"
    environment:
      - PARAMS=--config-file=/root/.config/counterparty/server.testnet.conf

  counterblock-base:
    image: counterparty/counterblock:${FEDNODE_RELEASE_TAG}
    volumes:
      - ./src/counterblock:/counterblock
      - ./config/counterblock:/root/.config/counterblock
      - counterblock-data:/root/.local/share/counterblock
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "50"

  counterblock-base-mainnet:
    hostname: ${HOSTNAME_BASE}-cb
    extends:
      service: counterblock-base
    ports:
      - "4100:4100"
    environment:
      - PARAMS=--config-file=/root/.config/counterblock/server.conf

  counterblock-base-testnet:
    hostname: ${HOSTNAME_BASE}-cb-t
    extends:
      service: counterblock-base
    ports:
      - "14100:14100"
      - "14101:14101"
      - "14102:14102"
    environment:
      - PARAMS=--config-file=/root/.config/counterblock/server.testnet.conf

  armory-utxsvr-base:
    image: counterparty/armory-utxsvr:${FEDNODE_RELEASE_TAG}
    volumes:
      - ./src/armory-utxsvr:/armory-utxsvr
      - armory-data:/root/.armory
      - bitcoin-data:/root/.bitcoin/
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "30"

  armory-utxsvr-base-mainnet:
    hostname: ${HOSTNAME_BASE}-amry
    extends:
      service: armory-utxsvr-base
    environment:
      - BITCOIND_URL=http://rpc:rpc@bitcoin:8332
      - RPC_HOST=0.0.0.0

  armory-utxsvr-base-testnet:
    hostname: ${HOSTNAME_BASE}-amry-t
    extends:
      service: armory-utxsvr-base
    environment:
      - BITCOIND_URL=http://rpc:rpc@bitcoin-testnet:18332
      - RPC_HOST=0.0.0.0
      - PARAMS=--testnet

  counterwallet-base:
    hostname: ${HOSTNAME_BASE}-cw
    image: counterparty/counterwallet:${FEDNODE_RELEASE_TAG}
    volumes:
      - ./src/counterwallet:/counterwallet
      - ./config/counterwallet/ssl:/ssl_config
      - counterblock-data:/counterblock_data
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "30"
    ports:
      - "80:80"
      - "443:443"

  mongodb-base:
    hostname: ${HOSTNAME_BASE}-mongo
    image: mongo:3.2
    volumes:
      - mongodb-data:/data/db
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "30"
    ports:
      - ${MONGODB_HOST_INTERFACE}:27017:27017

  redis-base:
    hostname: ${HOSTNAME_BASE}-redis
    image: redis:3.2
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
    logging:
      driver: "json-file"
      options:
        max-size: "30m"
        max-file: "30"
